*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    /* background: yellowgreen; */
}

section.one{
    background: url("images/home-banner.jpg") no-repeat;
    background-size: 100% 100vh;
    height: 100vh;
}
nav .first{
    display:flex;
    justify-content: space-between;
}
nav span img{
    margin: 30px 0px 30px 300px;
    width:150px;
    height:50px;
}
nav ul{
    float: right;
    margin-right:250px;
}
nav ul li{
    list-style: none;
    display:inline-block;
    padding:20px;
    font-size: 1em;
    line-height: 80px;
}
nav ul li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    text-transform: uppercase;
    flex-direction: row;
}
nav ul li #contact-info{
    background: olivedrab;
    padding:8px;
    border-radius: 10px solid ;
}

section div.bigheading{
    color:#fff;
    font-size:5.5rem;
    font-style: bold;
    font-weight: 900;
    text-align:end;
    padding: 200px 250px;
}

section.two{
    background: #181818;
    display: flex;
    justify-content: space-between;
    position: relative;
    width:100%;
}
section.two .s2d1,
section.two .s2d2{
    padding-top: 100px;
    width:50%;
    color:#fff;
}

section.two .s2d1{
    padding-left:300px;
    margin-bottom: 130px;
}

section.two .s2d1 .big-heading{
    font-size: 4rem;
    margin-bottom:25px;
}

#gre{
    color:rgb(122, 158, 50);
}

section.two .s2d1 h2{
    font-size: 2rem;
    margin-bottom:25px;
}
section.two .s2d1 p{
    width:70%;
    margin-bottom:25px;
}
section.two .s2d2 div.line{
    display: flex;
    justify-content: stretch;
    
}
section.two .s2d2 div.head2{
    font-size: 1.5rem;
    padding-right: 30px;
    margin-bottom:45px;
}

section.two .s2d2 div img{
    height: 40px;
}

section.two .s2d2 div.imgover{
    background: url("images/image-PF.jpg") no-repeat;
    height:500px;
    position:relative;
}

section.two .s2d2 div.imgover img{
    position: absolute;
    bottom:0;
    left:5%;
    z-index: 1;
    height: 30%;
    filter: drop-shadow(50px);
}
section.three{
    width:100%;
    height:auto;
    overflow: hidden;
}
section.three div h1{
    text-align: center;
}

section.three div p{
    text-align: center;
}

section.three div.imgs{
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
}
section.three div img#exp{
    width:1169px;
    height:450px;
}

section.three div.imgs img:hover{
    border: #ffffff 5px solid;
}
section.three div.forgreen,
section.four div.forgreen,
section.five div.forgreen{
    position:relative;
}
section.three div h1,
section.four div h2,
section.five div.forgreen h1{
    text-align: center;
    font-style: bold;
    font-size: 2 rem;
    padding: 40px 0px;
}

section.three div h1::after,
section.four div h2::after,
section.five div h1::after{
    content:'';
    position:absolute;
    width:12%;
    text-align: center;
    background: rgb(106, 144, 28);
    bottom:40%;
    left:44%;
    z-index: -1;
    height: 10px;
    margin: 0;
    padding:0;
}

section.four div h2::after{
    background: rgb(144, 144, 144);
}

section.three div p{
    width:100%;
    padding:0px 500px 40px;

}
section.last{
    display: flex;
    width:100%;
    background: url("images/contact-back-bg@2x.jpg") no-repeat;
    height: auto;
    color:#fff;
}
section.last .foot1,
section.last .foot2{
    width:50%;
    padding:50px;
}

section.last form{
    display: flex;
    flex-direction: column;
}

section.last .foot1 form ul li,
section.last .foot2 ul li{
    padding-top: 25px;
    list-style: none;
}
section.last .foot1 form ul li input{
    width:100%;
    height: 30px;
    background-color:rgba(170, 187, 171, 0.349);
    border: none;
}
#head2{
    font-size: 4rem;
    font-weight: 900;
    padding-bottom: 50px;
}

#head3{
    font-size: 2rem;
    padding-bottom: 50px;
}

#head4:hover,
#head3:hover{
    color:rgb(122, 158, 50);
}

#btn,#btn1{
    margin-top: 20px;
    border: 3px solid rgb(122, 158, 50);
    height: 40px;
    width:30%;
    background-color:rgb(122, 158, 50);
    color:#000;
    text-transform: uppercase;
}

#btn{
    margin:20px 850px;
    width:15%;
    z-index: 2;
}

#btn:hover,
#btn1:hover{
    color:#fff;
    background-color: #000;
    border: none;
}

section.four,
section.seven{
    background-color: #1b1b1b;
    color:#fff;
    height:auto;
}

section.four h2,
section.five div h1,
section.seven div h1.mainsix{
    text-align:center;
    padding:50px 0px 30px;
}

section.four p,
section.five p#para,
section.seven p.mainsixp{
    text-align: center;
    width: 100%;
    padding:30px 30%;
}



section.four div.row1,
section.four div.row2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 50px;
}

section.four div.row1 img,
section.four div.row2 img{
    width: 170px;
    height: 80px;
    padding: 3px;
}

section.five{
    background-color: #ececec;
    height:auto;
}
section.five div.flex6e{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px 20%;
    /* flex-grow: 3; */
}

section.five div.flex6e .ele{
    width: 350px;
    height:500px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background: #fff;
    padding:20px;
    margin:10px;
}

#emg{
    width: 20px;
    height: 20px;
}

section.five div.flex6e .ele p{
    width:70%;
}

section.five div.flex6e .ele a{
    text-decoration: none;
    font-size: 1.05em;
    font-weight: 700;
}


/* 
.carousel-inner{
    position: relative;
    height: 150px;
}

.carousel-item{
    width:95px;
    height:95px;
}

/* .d-block .w-100{
    position: absolute;
    width:95px;
    height:95px;
} */


section.six{
    background: #fff;
    display: flex;
    justify-content: flex-start;
    height:70vh;
    width:100%;
}

.list{
    width:60%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin:auto;
}
.title span#gre{
    font-weight: 800;
}
.list h3{
    color:#000;
    font-size: 1rem;
    padding:10px 2rem;
}
.title{
    background: #fff;
    padding:20px 30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-size: 1.7rem;
    font-weight: 400;
    text-decoration: none;

}

.icon{
    width:20px;
    position: relative;

}
.icon::before, .icon::after{
    content:"";
    position: absolute;
    width:20px;
    height:3px;
    background: rgb(122, 158, 50);
    top:-1.5px;
}
.icon::after{
    transform: rotate(90deg);
    transition:0.5% linear;
}
.text{
    background: #fff;
    margin: 3px 0;
    opacity: 0;
    color: #000;
    height:0 ;
    font-size: 1rem;
    font-weight: 400;
    
}
.item:target .text{
    opacity: 1;
    height: auto;
    padding: 20px 30px;
    margin: 0;
    border-top:2px solid ;
    margin-bottom: 6px;

}

.item:target .icon::after{
    transform: rotateY(90deg);
    
}

section.seven {
    background:#181818;
}
section.seven nav.second{
    display:flex;
    justify-content: center;
    background:#181818;
}


nav ul{
    float: right;
    margin-left:250px;
    position: relative;
}
nav ul li{
    list-style: none;
    display:inline-block;
    /* padding:20px; */
    font-size: 1em;
    line-height: 80px;
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
    flex-direction: row;
}

.twoparts{
    display: flex;
    justify-content: center;
    width: 100%;
}

.twoparts #discovery{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 50px 50px 50px 180px ;

}

.twoparts div h1{
    font-size: 3rem;
    padding-bottom: 30px;
}

.twoparts p{
    width:70%;
    font-size: 1rem;
    line-height: 20px;
    line-break: 10px;
    padding-bottom: 30px;
}

.twoparts a{
    text-decoration: none;
    width: 70%;
}

.twoparts #astronot{
    margin:40px 0px;
    width:30%;
}

section.eight{
    background: rgb(255, 255, 255);
    width:100%;
    position: relative;
    height:auto;

}

section.eight h1{
    text-align: center;
    padding:80px 0 0 0;
}

section.eight p{
    text-align: center;
    width:100%;
    padding:20px 20%
}
section.eight div.hero{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom:150px;
}
section.eight div div.one,
section.eight div div.two,
section.eight div div.three{
    display: flex;
    justify-content: center;
}

section.eight div div.one img,
section.eight div div.two img,
section.eight div div.three img{
    padding:10px;
}

section.nine{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
section.nine div.floatimg{
    position: relative;
    width:100%;
    height:1000px;
    background: rgb(122, 158, 50);
}

section.nine div.floatimg h1{
    color: #fff;
    font-size: 4.5rem;
    position: absolute;
    right:5%;
    top:0;
    z-index: 2;
}

section.nine div img{
    position: absolute;
    width: 550px;
    top:-60px;
    right: -60px;
    z-index: 1;
}

section.nine div.right-content{
    z-index: 1;
    background: rgb(255, 255, 255);
    padding: 100px;
    width: 100%;
}

section.nine div.right-content h2{
    padding:30px 0;
    width:60%;
}

section.nine div.right-content p{
    width:60%;
    color: #1b1b1b;
    line-height:26px;
    font-size: 90%;
}